.event-img, .img{
    width: 100%;
    height: 200px;
}
.navbar-inverse{
    background-color:  #428bca;
    border-color: #285e8e;
    border-radius: 0px;
}
.navbar-inverse *{
    color: white !important;
}
.navbar-inverse *:hover{
    color: lightgrey !important;
}
.grid-item {
    width: 200px;
    border: 1px solid lightgrey;
    padding: 5px;
}
.grid-item--width2 {
    width: 400px;
    border: 1px solid lightgrey;
    padding: 5px;
}
.img-anchor:hover img{
    border: 2px solid #285e8e;
}
.event-btns-section{
    margin-top: 20px;
}
.btns-section{
    margin: 0 auto;
    width: 65%;
}
.event-title{ text-align: center;}
.event-gallery{
    display: flex;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.event-paragraph{
    height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.item{
    padding: 5px;
    border: 1px solid lightblue;
    margin: 5px;
}
.event-description{
    margin: 0 auto;
    width: 65%;
}
.event-description p{
    padding: 10px;
    text-align: justify;
}
.btn-default{
    color: black !important;
}
.btn-default:hover{
    color: black !important;
}
.form-control{
    color: black !important;
}
.pos-rel{
    position: relative;
}
.pos-rel > .absolute-pencil{
    position: absolute;
    right: 5px;
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
    background-color: white;
    width: 20px;
    height: 20px;
    text-align: center;
}
.pos-rel > .absolute-pencil:hover{
    background-color: black;
    color: white;
}
.frame-div{
    display: inline-block;
    position: relative;
    margin: 5px;
}
.event-image-div{
    margin-top: 50px;
    display: inline-block;
    position: relative;
}
.add-frame-form{
    margin-top: 50px;
}
.overlay{
    z-index: 1000;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    background-color: rgba(0,0,0,.8);
}
.inner-overlay{
    background-color: black;
    z-index: 1100;
    position: absolute;
    top: 25%;
    left: 20%;
    height: 400px;
    width: 800px;    
}
.close-overlay.glyphicon-remove{
    color: white;
    float: right;
    margin: 50px;
    font-size: 30px;
    cursor: pointer;
}
.img-showcase, .overlay{display: none;}
.field-validation-error { color: red;}

/* ======  Frames colors ======= */
.Purple::before{
    position:absolute;
    display:block;
    content: '';
    height: 100%;
    width: 100%;
    border: 8px solid purple;
}
.BurlyWood::before{
    position:absolute;
    display:block;
    content: '';
    height: 100%;
    width: 100%;
    border: 8px solid #deb887;
}
.BlueGreen::before{
    position:absolute;
    display:block;
    content: '';
    height: 100%;
    width: 100%;
    outline: 4px solid darkgreen;
    border: 4px solid cadetBlue;
}
.RedOrangeGreen::before{
    position:absolute;
    display:block;
    content: '';
    height: 100%;
    width: 100%;
    outline: 4px solid red;
    border: 4px solid orange;
}
.inner-layout.RedOrangeGreen::before{
    position: absolute;
    display: block;
    content: '';
    height: 96%;
    width: 96%;
    border: 4px solid white;
    outline: none;
    margin: 4px;
}
.event-image-div .inner-layout.RedOrangeGreen::before{
    position: absolute;
    display: block;
    content: '';
    height: 97%;
    width: 98.4%;
    border: 4px solid white;
    outline: none;
    margin: 4px;
}