@model PhotoGallery.Models.User
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Events</h2>
@using (Html.BeginForm("Events", "Details"))
{
    <div >
        <img src="https://www.srilanka-botschaft.de/images/Tourism4_1.jpg" alt="Alternate Text" />
        <img  width="217"; src="http://eco-observatory.com/yahoo_site_admin/assets/images/Toucan_Basco_Sized_Small_Web_size.6491849_std.jpg" alt="Alternate Text" />
      

    </div>
}

