@model PhotoGallery.Models.User
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Events</h2>
@using (Html.BeginForm("Details", "Events"))
{
    <div class="form-group">
      

    </div>
}

